It happens all the time: someone gives you data containing malformed strings,
Python, lists and missing data. How do you tidy it up so you can get on with the
analysis?
Take this monstrosity as the DataFrame to use in the following puzzles:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})

In [278]:
#Creating the dataframe
import pandas as pd
import numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})
#Displaying the dataframe
print(df)

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

1. Some values in the the FlightNumber column are missing. These numbers are
meant to increase by 10 with each row so 10055 and 10075 need to be put in
place. Fill in these missing numbers and make the column an integer column
(instead of a float column).

In [279]:
df['FlightNumber'].fillna(value='Missing',inplace=True)

In [280]:
for i,val in enumerate(df['FlightNumber']):
    if(val =='Missing'):
        df['FlightNumber'][i]=df['FlightNumber'][i-1]+10

In [281]:
print (df['FlightNumber'])

0    10045
1    10055
2    10065
3    10075
4    10085
Name: FlightNumber, dtype: object

In [282]:
#Converting the dtype
df['FlightNumber']=df['FlightNumber'].astype(int)

In [283]:
df.dtypes

From_To         object
FlightNumber     int32
RecentDelays    object
Airline         object
dtype: object

2. The From_To column would be better as two separate columns! Split each
string on the underscore delimiter _ to give a new temporary DataFrame with
the correct values. Assign the correct column names to this temporary
DataFrame.

In [284]:
#Creating a copy
df1=df.copy()
df1=df1.drop(['FlightNumber','RecentDelays','Airline'],axis=1)

In [285]:
#Extarcting the value part and storing in a object
items=df1.From_To.items()
print(items)
type(items)

<zip object at 0x0BD03A30>

zip

In [286]:
#Extrating only the value part
fromto=[]
for i in items :
    fromto.append(i[1])

In [287]:
fromto

['LoNDon_paris',
 'MAdrid_miLAN',
 'londON_StockhOlm',
 'Budapest_PaRis',
 'Brussels_londOn']

In [288]:
#Storing the first part and second part in separate list
name=[]
fstname=[]
lastname=[]
for i in fromto:
    name.append(i.split("_"))
print(name)
for i in name:
    fstname.append(i[0])
    lastname.append(i[1])
print(fstname,lastname)

[['LoNDon', 'paris'], ['MAdrid', 'miLAN'], ['londON', 'StockhOlm'], ['Budapest', 'PaRis'], ['Brussels', 'londOn']]
['LoNDon', 'MAdrid', 'londON', 'Budapest', 'Brussels'] ['paris', 'miLAN', 'StockhOlm', 'PaRis', 'londOn']

In [289]:
#Adding to the copied data frame
df1['From']=pd.Series(fstname)
df1['To']=pd.Series(lastname)

In [290]:
#Displaying the dataframe
print(df1)

            From_To      From         To
0      LoNDon_paris    LoNDon      paris
1      MAdrid_miLAN    MAdrid      miLAN
2  londON_StockhOlm    londON  StockhOlm
3    Budapest_PaRis  Budapest      PaRis
4   Brussels_londOn  Brussels     londOn

3.Notice how the capitalisation of the city names is all mixed up in this
temporary DataFrame. Standardise the strings so that only the first letter is
uppercase (e.g. "londON" should become "London".)

In [291]:
#Extracting the values from the Series in dataframe and modifying so that only first letter is uppercase
fromitem=df1.From.items()
type(fromitem)
ufrom=[]
for i in fromitem:
    ufrom.append(i[1].title())
print(ufrom)
toitem=df1.To.items()
uto=[]
for i in toitem:
    uto.append(i[1].title())
print(uto)

['London', 'Madrid', 'London', 'Budapest', 'Brussels']
['Paris', 'Milan', 'Stockholm', 'Paris', 'London']

In [292]:
#Adding the corrected values to the new dataframe
df1['Fromcorrected']=pd.Series(ufrom)
df1['Tocorrected']=pd.Series(uto)
df1=df1.drop(['From','To','From_To'],axis=1)
df1=df1.rename(columns={'Fromcorrected':'From','Tocorrected':'To'})
print(df1)

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

4. Delete the From_To column from df and attach the temporary DataFrame from the previous questions.

In [293]:
#Dropping From_To
df=df.drop('From_To',axis=1)

In [294]:
print(df)

   FlightNumber  RecentDelays              Airline
0         10045      [23, 47]               KLM(!)
1         10055            []    <Air France> (12)
2         10065  [24, 43, 87]  (British Airways. )
3         10075          [13]       12. Air France
4         10085      [67, 32]          "Swiss Air"

In [295]:
#Concatinating
df=pd.concat([df,df1],axis=1)

In [296]:
print(df)

   FlightNumber  RecentDelays              Airline      From         To
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

5. In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN.
Expand the Series of lists into a DataFrame named delays, rename the columns delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df with delays.

In [299]:
#Extracting the values
rditem=df.RecentDelays.items()

In [300]:
#Displaying the values
rdlist=[]
for i in rditem:
    rdlist.append(i[1])
print(rdlist)

[[23, 47], [], [24, 43, 87], [13], [67, 32]]

In [328]:
#Assining null values where there are no corresponding values in nth level
len(rdlist)
maxlenlist=max(len(i) for i in rdlist)
maxlenlist
delay1=[]
delay2=[]
delay3=[]
for i in rdlist:
    if len(i)<maxlenlist:
        i.append(np.NaN)
        if len(i)<maxlenlist:
            i.append(np.NaN)
            if len(i)<maxlenlist:
                i.append(np.NaN)
print(rdlist)

[[23, 47, nan], [nan, nan, nan], [24, 43, 87], [13, nan, nan], [67, 32, nan]]

In [329]:
#Assigning the values to delay column
for i in rdlist:
    delay1.append(i[0])
    delay2.append(i[1])
    delay3.append(i[2])
print(delay1,delay2,delay3)

[23, nan, 24, 13, 67] [47, nan, 43, nan, 32] [nan, nan, 87, nan, nan]

In [330]:
#Adding to the dataframe
df['delay1']=pd.Series(delay1)
df['delay2']=pd.Series(delay2)
df['delay3']=pd.Series(delay3)

In [336]:
#Renaming the RecentDelays column to Delays
df=df.rename(columns={'RecentDelays':'Delays'})
print(df)

   FlightNumber           Delays              Airline      From         To  \
0         10045    [23, 47, nan]               KLM(!)    London      Paris
1         10055  [nan, nan, nan]    <Air France> (12)    Madrid      Milan
2         10065     [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075   [13, nan, nan]       12. Air France  Budapest      Paris
4         10085    [67, 32, nan]          "Swiss Air"  Brussels     London

   delay1  delay2  delay3
0    23.0    47.0     NaN
1     NaN     NaN     NaN
2    24.0    43.0    87.0
3    13.0     NaN     NaN
4    67.0    32.0     NaN